<?xml version="1.0"?>
<launch>

	<rosparam command="load" file="$(find hand_over_tiago)/config/tiago_motions.yaml" />

	<node name="hand_over" pkg="hand_over_tiago" type="hand_over_node.py" output="screen">
    	<rosparam command="load" file="$(find hand_over_tiago)/config/config_rot.yaml" />
	</node>

</launch>

